In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lokeshparab/amazon-products-dataset")

print("Path to dataset files:", path)

In [ ]:
import pandas as pd
import glob
import os

# Find all CSV files in the folder
csv_files = glob.glob(os.path.join(path, '*.csv'))

# Read each CSV into a DataFrame and store in a list
dataframes = [pd.read_csv(file) for file in csv_files]

# Combine all DataFrames into one
df = pd.concat(dataframes, ignore_index=True)

# View the result
print(df.head())

In [1]:
import pandas as pd

path = r"C:\Users\abhis\.cache\kagglehub\datasets\lokeshparab\amazon-products-dataset\versions\2"
df = pd.read_csv(path + r'\Amazon-Products.csv', index_col=0)

df

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"
...,...,...,...,...,...,...,...,...,...
1099,Adidas Regular Fit Men's Track Tops,sports & fitness,Yoga,https://m.media-amazon.com/images/I/71tHAR9pIY...,https://www.amazon.in/Adidas-Regular-Mens-Trac...,3.2,9,"₹3,449","₹4,599"
1100,Redwolf Noice Toit Smort - Hoodie (Black),sports & fitness,Yoga,https://m.media-amazon.com/images/I/41pKrMZ5lQ...,https://www.amazon.in/Redwolf-Noice-Smort-Cott...,2.0,2,"₹1,199","₹1,999"
1101,Redwolf Schrute Farms B&B - Hoodie (Navy Blue),sports & fitness,Yoga,https://m.media-amazon.com/images/I/41n9u+zNSc...,https://www.amazon.in/Redwolf-Schrute-Farms-Ho...,4.0,1,"₹1,199","₹1,999"
1102,Puma Men Shorts,sports & fitness,Yoga,https://m.media-amazon.com/images/I/51LoWv5JDt...,https://www.amazon.in/Puma-Woven-Short-5208526...,4.4,37,NaN,NaN
1103,Mothercare Printed Cotton Elastane Girls Infan...,sports & fitness,Yoga,https://m.media-amazon.com/images/I/814X-sI3DB...,https://www.amazon.in/Mothercare-Carrot-Regula...,4.6,5,"₹1,039","₹1,299"

In [2]:
df.describe(include='all')

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
count,551585,551585,551585,551585,551585,375791,375791,490422,533772
unique,396210,20,112,462414,551585,49,8342,27511,23170
top,Zeya Yellow Gold Ring,accessories,Formal Shoes,https://m.media-amazon.com/images/I/51uEPldT42...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.0,1,₹499,₹999
freq,718,116141,19200,3044,1,36609,39816,18248,48774

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 551585 entries, 0 to 1103
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            551585 non-null  object
 1   main_category   551585 non-null  object
 2   sub_category    551585 non-null  object
 3   image           551585 non-null  object
 4   link            551585 non-null  object
 5   ratings         375791 non-null  object
 6   no_of_ratings   375791 non-null  object
 7   discount_price  490422 non-null  object
 8   actual_price    533772 non-null  object
dtypes: object(9)
memory usage: 42.1+ MB

In [4]:
# Find duplicates based on selected columns
subset_dup = ['name', 'ratings', 'no_of_ratings', 'discount_price', 'actual_price']
duplicate_rows = df.duplicated(subset=subset_dup)

# Count number of duplicate rows
num_duplicates = duplicate_rows.sum()
print(f"Number of duplicate rows: {num_duplicates}")

df.drop_duplicates(subset=subset_dup, inplace=True)

Number of duplicate rows: 98023

In [5]:
df.describe(include='all')

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
count,453562,453562,453562,453562,453562,304373,304373,402026,439966
unique,396210,20,112,415202,453562,49,8342,27511,23170
top,Zeya Yellow Gold Ring,accessories,Casual Shoes,https://m.media-amazon.com/images/I/51uEPldT42...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.0,1,₹499,₹999
freq,399,99448,18342,3020,1,28915,35107,14749,40416

In [6]:
null_counts = df.isnull().sum()

null_counts

name                   0
main_category          0
sub_category           0
image                  0
link                   0
ratings           149189
no_of_ratings     149189
discount_price     51536
actual_price       13596
dtype: int64

In [ ]:
# df.drop(index=df[df['discount_price'].isnull() & df['actual_price'].isnull()].index, inplace=True)

In [7]:
# If discount_price is null, fill it with actual_price
df['discount_price'] = df['discount_price'].fillna(df['actual_price'])

# If actual_price is null, fill it with discount_price
df['actual_price'] = df['actual_price'].fillna(df['discount_price'])

# Drop any remaining empty price rows
df = df.dropna(subset=['actual_price']).copy()

In [8]:
# Remove commas and convert to numeric
df['ratings'] = pd.to_numeric(df['ratings'], errors='coerce').fillna(0)
df['no_of_ratings'] = pd.to_numeric(df['no_of_ratings'], errors='coerce').fillna(0)

In [ ]:
# df.drop(index=df[df['discount_price'].isnull() & df['actual_price'].isnull()].index, inplace=True)

# this is dropping too many rows. Figure out why

In [9]:
null_counts = df.isnull().sum()

null_counts

name              0
main_category     0
sub_category      0
image             0
link              0
ratings           0
no_of_ratings     0
discount_price    0
actual_price      0
dtype: int64

In [14]:
for col in ['discount_price', 'actual_price']:
    df[col] = df[col].replace('[₹,]', '', regex=True).astype(float)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 439966 entries, 0 to 1103
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            439966 non-null  object
 1   main_category   439966 non-null  object
 2   sub_category    439966 non-null  object
 3   image           439966 non-null  object
 4   link            439966 non-null  object
 5   ratings         439966 non-null  float64
 6   no_of_ratings   439966 non-null  float64
 7   discount_price  439966 non-null  float64
 8   actual_price    439966 non-null  float64
dtypes: float64(4), object(5)
memory usage: 33.6+ MB

In [16]:
df.describe(include='all')

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
count,439966,439966,439966,439966,439966,439966.000000,439966.000000,4.399660e+05,4.399660e+05
unique,384827,20,112,403970,439966,NaN,NaN,NaN,NaN
top,Zeya Yellow Gold Ring,accessories,Clothing,https://m.media-amazon.com/images/I/51uEPldT42...,https://www.amazon.in/Lloyd-Inverter-Convertib...,NaN,NaN,NaN,NaN
freq,398,96926,18180,3020,1,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.539793,49.704400,2.930004e+03,2.707753e+04
std,NaN,NaN,NaN,NaN,NaN,1.912586,134.145217,9.858420e+03,1.492567e+07
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,3.990000e+02,9.490000e+02
50%,NaN,NaN,NaN,NaN,NaN,3.500000,2.000000,6.990000e+02,1.595000e+03
75%,NaN,NaN,NaN,NaN,NaN,4.100000,23.000000,1.549000e+03,2.999000e+03
max,NaN,NaN,NaN,NaN,NaN,5.000000,999.000000,1.249990e+06,9.900000e+09